/* basic settings for the background */
@font-face {
  font-family: roboto-regular;
  src: url('/source/resources/fonts/Roboto-Regular.ttf');
}

* {
  font-family: Roboto;
  margin: 0;
  padding: 0;
}

.page:hover {
  color: white;
}

.page:active {
  color: white;
}

body {
  background-color: #dbc6bb;
}

/* basic settings for the header tab */
header {
  height: 100px;
  background-color: #422040;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


p {
  word-break: break-all;
  white-space: normal;
}

.header-main {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 5px;
  grid-column-start: 2;
  grid-column-end: 3;
  color: #dbc6bb;
}

#in-progress,
#completed {
  display: none;
}

/* basic settings for main */
fieldset {
  border: 2px solid rgb(214 214 214);
  box-sizing: border-box;
  display: block;
  width: max-content;
}

/* selection screen */
.modal-book-page {
  width: 60px;
}

.modal {
  font-size: 150%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: #dbc6bb;
  width: 1000px;
  height: 600px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  background-color: #422040;
  color: #dbc6bb;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

/* Header entry titles */
#new-modal-info fieldset legend {
  font-weight: bold;
}

/* overlay */
#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000080;

  /* transition: 100ms ease-in-out; */
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* Delete entry button */
.delete-button {
  background-color: #dbc6bb;
  color: #422040;
  padding: 3px;
  border: 1px #422040 solid;
  width: 70px;
}

/* Add buttons and homepage button */
.add-button,
.entry-add-button,
#homepage {
  background-color: #e57a44;
  color: #dbc6bb;
  padding: 3px;
  border: 1px #422040 solid;
  width: 70px;
}

.add-button:hover,
.entry-add-button:hover,
#homepage:hover {
  background-color: hsl(20deg 76% 68%);
  color: #dbc6bb;
  padding: 3px;
  border: 1px #422040 solid;
}

.add-button:hover,
.entry-add-button:hover,
.delete-button:hover {
  width: 70px;
}

/* Single Booklist, includes list header and all list entries */
.entry-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-content: space-between;
  row-gap: 0;
  border: 2px #e57a44 solid;
  background-color: #e57a44;
  margin: 5px;
}

/* Contains all list entries */
.entries {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-content: space-between;
  row-gap: 0;
}

/* List header and individual entries */
.list-header,
.entry {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  text-align: center;
  gap: 10px;
  border: 1px #422040 solid;
  color: #dbc6bb;
}

.list-header {
  font-weight: bold;
  background-color: #422040;
}

/* Entry image/modify button */
.entry-cover {
  width: 70px;
  height: auto;
  flex: 0 1 auto;
}

.entry .entry-cover {
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

/* List delete button */
.list-header .entry-cover {
  background-color: #dbc6bb;
  color: #422040;
  padding: 3px;
  border: 1px #422040 solid;
}

.list-header .entry-cover:hover {
  background-color: hsl(304deg 19% 70%);
  color: #422040;
  padding: 3px;
  border: 1px #422040 solid;
}

/* Add book button */
.list-header .add-button {
  background-color: #e57a44;
  color: #dbc6bb;
  padding: 3px;
  border: none;
}

.list-header .add-button:hover {
  background-color: hsl(20deg 76% 68%);
  color: #dbc6bb;
  padding: 3px;
  border: none;
}

/* Entry rating, progress, and genres */
.entry-rating,
.entry-progress,
.entry-extras {
  flex: 1;
}

.entry-img {
  opacity: 1;
  max-width: 70px;
  height: auto;
  object-fit: cover;
  display: inline-block;
  width: calc(100% + 32px);
}

.entry-cover .entry-img,
.entry-cover .modify-button {
  grid-column: 1;
  grid-row: 1;
}

.entry-cover:hover .entry-img {
  opacity: .1;
}

.entry-cover .modify-button {
  opacity: 0;
  width: 70px;
  height: 100%;
  border: none;
}

.entry-cover:hover .modify-button {
  opacity: 1;
}

.delete-button:hover {
  background-color: hsl(20deg 46% 68%);
  color: #422040;
  padding: 3px;
  border: 1px #422040 solid;
}

.entry-name {
  flex: 5;
  text-align: left;
}

.entry-review {
  flex: 3;
}

.entries .entry-review p {
  text-align: left;
}

/* List add button */
#add-entry .add-button {
  position: absolute;
  right: 5px;
  width: 100px;
  height: 30px;
}

#add-entry .add-button:hover {
  width: 100px;
  height: 30px;
}

/* All Booklists */
#book-list {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: space-between;
  row-gap: 20px;
  margin: 50px;
}

/* modal settings */
#modal-pages {
  display: flex;
}

#modal-pages > p {
  padding-left: 5px;
  padding-right: 5px;
}

.add-book:hover {
  color: white;
}

/* responsive feature according to the size of the screen */
@media only screen and (max-width: 900px) {
  h1 {
    font-size: 5vw;
  }

  h2 {
    font-size: 2.5vh;
  }

  p {
    font-size: 2.5vmin;
  }

  * {
    font-size: 3vmin;
  }

  header {
    min-height: 65px;
    background-color: #422040;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .list-header,
  .entry {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    text-align: center;
    gap: 10px;
    border: 1px #422040 solid;
    color: #dbc6bb;
  }

  .entry > .list-header {
    font-weight: bold;
    background-color: #422040;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    text-align: center;
    gap: 10px;
  }
}

@media only screen and (min-width: 730px) and (max-width: 900px) {
  h1 {
    font-size: 4vw;
  }

  * {
    font-size: 2.5vmin;
  }
}
