@font-face {
    font-family: roboto-regular;
    src: url('Roboto-Regular.ttf');
}

* {
    font-family: roboto-regular;
    margin: 0 0 0 0;
    padding: 0 0 0 0; 
    /* background-color: red; */
}


header {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 100px;
    background-color: #422040;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.header-main {
    /* background-color: rgb(184, 113, 190);  */
    display: flex;
    text-align: center;
    align-items: center;
    max-width: 6em;
    max-height: 1.3em;
    margin-top: 6%;
    margin-left: 34%;
    gap: 5px;
    grid-column-start: 1;
    grid-column-end: 2;
    color: #DBC6BB;
}

header > ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    list-style-type: none;  
    grid-column-start: 2;
    grid-column-end: 3;
    color: #DBC6BB;
}

.page:hover {
    color:white;
}

.page:active {
    color:white;
}

body {
    background-color: #DBC6BB;
}

fieldset {
    border: 2px solid rgb(214, 214, 214);
    box-sizing: border-box;
    display: block;
    width: max-content;
}

/* Add entry button */
.add-button {
    position: absolute;
    right: 5px;
    width: 100px;
    height: 30px;
    background-color: #E57A44;
    color: #DBC6BB;
    border: none;
}

.add-button:hover {
    width: 100px;
    height: 30px;
    background-color: hsl(20, 76%, 68%);
    color: #DBC6BB;
    border: none;
}

/* All Booklists */
booklist {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: left;
    align-content: space-between;
    row-gap: 20px;
    margin: 5px;
}

/* Single Booklist, includes list header and all list entries */
.entry-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: left;
    align-content: space-between;
    row-gap: 0px;
    border: 2px #E57A44 solid;
    background-color: #E57A44;
    margin: 5px;
}

/* Contains all list entries */
.entries {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: left;
    align-content: space-between;
    row-gap: 0px;
}

/* List header and individual entries */
.list-header, .entry {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    text-align: center;
    gap: 10px;
    border: 1px #422040 solid;
    color: #DBC6BB;
}

.list-header {
    font-weight: bold;
    background-color: #422040;
}

/* All table components except entry entry cover and title */
.entry-rating, .entry-progress, .entry-genres {
    flex: 1;
}

/* Entry image/modify button */
.entry-cover {
    width: 70px;
    height: auto;
    flex: 0 1 auto;
}

.entry .entry-cover {
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.entry-cover .entry-img, .entry-cover .modify-button {
    grid-column: 1;
    grid-row: 1;
}

.entry-img {
    opacity: 1.0;
    width: 70px;
    height: auto;
}

.entry-cover:hover .entry-img {
    opacity: 0.1;
}

.entry-cover .modify-button {
    opacity: 0.0;
    width: 70px;
    height: 100%;
    border: none;
}

.entry-cover:hover .modify-button {
    opacity: 1.0;
}

.entry-name {
    flex: 5;
    text-align: left;
}

.entry-review {
    flex: 2;
}

.entries .entry-review p {
    text-align: left;
}